body {
    color: white; 
}

button:hover {
    color: lightblue;
}
.header {
    background-image: url("../images/image_header.png");
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font1 {
    font-family: "Josefin Sans", regular;
}

.font2 {
    font-family: "Aleo", regular;
}

.logo {
    font-size: 48px;
    font-display: center;
}

.under_logo {
    font-size: 22px;
    letter-spacing: 6.82px;
}

.logo_div {
    margin-top: 200px;
    text-align: center;
}

.label-and-input {
    width: 553px;
    height: 63px;
    text-align: center;
}

.button1 {
    width: 153px;
    height: 63px;
    background: #5474FD;
    color: white;
    font-size: 14px;
    border: none;
}

.scrolltext {
    font-size: 14px;
}

.div_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

nav {
    height: 83px;
    width: 100%;
    background: #5474FD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_second {
    display: flex;
    justify-content: center;
}

main {
    background-image: url("../images/image_why.png");
    background-color: darkslategray;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.main_text {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    max-width: 560px;
}

.main_first {
    padding: 50px;
    width: 50%;
}
.main_second {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image_main_first {
    align-self: flex-start;
    margin-bottom: 10px;
}

.image_main_second {
    align-self: flex-end;
}

.steps {
    background: #333333;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.steps_div {
    text-align: center;
}

.spain1 {
    background-image: url("../images/image_spain1.png");
    background-color: darkslategray;
    display: flex;
    align-items: center;
}

.spain2 {
    background-image: url("../images/image_spain2.png");
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: right;
}

.spain_box1 {
    background: #232323;
    opacity: 80%;
    margin-left: 130px;
    margin-top: 100px;
    max-width: 400px;
    margin-bottom: 100px;
    padding: 20px;
}

.spain_header {
    font-size: 20px;
}

.spain_box2 {
    background: #232323;
    opacity: 80%;
    margin-right: 130px;
    margin-top: 100px;
    max-width: 400px;
    margin-bottom: 100px;
    padding: 20px;
}

.section_last {
    background-image: url("../images/image_last.png");
    background-color: darkslategray;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tourist_header {
    font-size: 36px;
    margin: 50px;
}

.tourist_container {
    display: flex;
    max-width: 70%;
    background: #333333;
    margin-bottom: 30px;
}

.tourist_quote {
    text-align: left;
    margin-left: 30px;
}

footer {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    font-size: 24px;
    text-align: center;
}
a {
    background: none;
    color: none;
}

i:hover {
    color: lightblue;
}

.footer_icons {
    display: flex;
    justify-content: space-around;
}

.footer_container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}