body {
    color: white; 
}

button:hover {
    color: lightblue;
}
.header {
    background-image: url("../images/image_header.png");
    background-color: darkslategray;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.font1 {
    font-family: "Josefin Sans", regular;
}

.font2 {
    font-family: "Aleo", regular;
}

.logo {
    font-size: 48px;
    font-display: center;
}

.under_logo {
    font-size: 22px;
    letter-spacing: 6.82px;
}

.logo_div {
    margin-top: 200px;
    text-align: center;
}

.label-and-input {
    width: 553px;
    height: 63px;
    text-align: center;
}

.button1 {
    width: 153px;
    height: 63px;
    background: #5474FD;
    color: white;
    font-size: 14px;
    border: none;
}

.scrolltext {
    font-size: 14px;
}

.div_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

nav {
    height: 83px;
    width: 100%;
    background: #5474FD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_second {
    display: flex;
    justify-content: center;
}

main {
    background-image: url("../images/image_why.png");
    background-color: darkslategray;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.main_text {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    max-width: 560px;
}

.main_first {
    padding: 50px;
    width: 50%;
}
.main_second {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image_main_first {
    align-self: flex-start;
    margin-bottom: 10px;
}

.image_main_second {
    align-self: flex-end;
}